@import url(http://fonts.googleapis.com/css?family=Gilda+Display);
@import url(http://fonts.googleapis.com/css?family=Gilda+Display|Josefin+Slab);

body{
	text-indent: 10px;
}
p{
	font-family: 'Gilda Display';
	font-style: Open-Sans;
}
h1{
	font-family: 'Josefin Slab';
	text-transform: uppercase;
	background-color: black;
	color: white;
	margin: 0px;
	padding: 10px;
	height: 10%;
	font-size: 60px;
	padding-top: 15%;
}
h2{
	font-family: 'Josefin Slab';
	font-variant: small-caps;
}
p.author{
	font-family: 'Gilda Display';
	font-style: italic;
}
a{
	font-variant: small-caps;
	text-decoration: none;
}
a:hover{
	color:red;
	text-decoration: none;
}